.calendar-container {
    padding: 0 !important;
}

/* header */ 

.calendar-header {
    text-align: center;
    padding: 20px 0;
    font-family: 'Comfortaa' !important;
}

/* rows */ 

.calendar-month {
    width: 130px;
}

.calendar-weekday {
    height: 30px;
    text-align: center;
    font-size: 12px;
    color: grey;
    font-family: 'Comfortaa' !important;
}

.weekday-day {
    position:relative;
    top: 10px;
    padding: 0!important;
}

.calendar-day {
    padding: 0 !important;
    text-align: right;
    border: 1px solid transparent;
    font-size: 12px;
    background-color: #fff;
    height: auto;
    min-height: 120px;
    max-height: 200px;
    overflow: scroll;
}

.calendar-day.today {
    border-top: 2px solid rgb(7, 181, 255);

}

.date {
    padding: 5px;
    font-family: 'Comfortaa' !important;
}

.holiday {
    font-size: 10px;
}


/* tasks */ 
.calendar-tasks {
    margin: 3px;
}


/* settings */ 

.before {
    color: rgb(143, 143, 143);
}

.today {
    color:  rgb(7, 181, 255);
}

.selected {
    color: #fff;
}

/* icons */ 

.calendar-icon {
    margin: 0 20px;
    cursor: pointer;
}

.calendar-icon:hover {
    color: rgb(7, 181, 255);
}

/* input */ 

.input-task {
    display: none;
}

form.input-task {
    width: 95%;
}

.input-task.selected {
    display: block;
}

.calendar-input {
    width: 100% !important;
}

.calendar-input::placeholder, 
.calendar-input[type="text"] {
    font-size: 12px;
}



/* small screens */ 
@media screen and (max-width: 576px) {
    .calendar-day {
        border-bottom: 3px solid rgb(235, 235, 235);
    }

    .calendar-week {
        border-bottom: none !important;
    }

    .weekday-day {
        display: none;
    }

  }