.calendar-container {
    padding: 0 !important;
}

/* header */ 

.calendar-header {
    text-align: center;
    padding: 20px 0;
    font-family: 'Comfortaa' !important;
}

/* rows */ 

.calendar-month {
    width: 130px;
}

.calendar-weekday {
    height: 30px;
    text-align: center;
    font-size: 12px;
    color: grey;
    font-family: 'Comfortaa' !important;
}

.weekday-day {
    position:relative;
    top: 10px;
    padding: 0!important;
}

.calendar-day {
    padding: 0 !important;
    text-align: right;
    border: 1px solid transparent;
    background-color: #fff;
    height: auto;
    min-height: 120px;
    max-height: 200px;
    overflow: scroll;
    font-size: 14px;
}

.calendar-day.today {
    border-top: 2px solid rgb(7, 181, 255);

}

.date {
    padding: 5px;
    font-family: 'Comfortaa' !important;
}

.holiday {
    font-size: 10px;
    padding: 0 !important;
}


/* tasks */ 
.calendar-tasks {
    margin: 3px;
}


/* settings */ 

.before {
    color: rgb(143, 143, 143);
}

.today {
    color:  rgb(7, 181, 255);
}

.selected {
    color: #fff;
}

/* icons */ 

.calendar-icon {
    margin: 0 20px;
    cursor: pointer;
}

.calendar-icon:hover {
    color: rgb(7, 181, 255);
}

/* input */ 

.input-task {
    display: none;
}

form.input-task {
    width: 95%;
}

.input-task.selected {
    display: block;
}

.calendar-input {
    width: 100% !important;
}

.calendar-input::placeholder, 
.calendar-input[type="text"] {
    font-size: 12px;
}



/* small screens */ 
@media screen and (max-width: 576px) {
    .calendar-day {
        border-bottom: 3px solid rgb(235, 235, 235);
    }

    .calendar-week {
        border-bottom: none !important;
    }

    .weekday-day {
        display: none;
    }

  }


  .calendar-menu {
      text-align: left !important;
      display: inline;
      font-size: 18px;
      cursor: pointer;
  }


  /* calendar bubble */ 

  .specifik-day {
      position: absolute;
      left: 50%;
  }

  .calendar-bubble {
      display: none;
      position: relative;
      width: 500px;
      height: 500px;
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
      border: 1px solid rgb(230, 230, 230);
      z-index: 9999999;
      top: 30%;
      margin: 0 auto;
      left: -50%;
      box-shadow:0 0 0 10000px rgba(0,0,0,.30);
      overflow: scroll
  }

  .calender-bubble-task {
      width: max-content;
  }

  .calendar-bubble.is-active {
      display: block;
  }

  .calendar-bubble-content {
    padding: 30px;
  }

 .menu-btn.calendar {
     left: 220px;
 }

 .menu-burger.calendar,
 .menu-burger.calendar::before,
 .menu-burger.calendar::after {
     background: grey;
 }

 .calendar-bubble-date {
    font-family: 'Comfortaa' !important;
    margin-bottom: 40px;
    padding-bottom: 20px;
 }
 .calendar-bubble-title {
    color: rgb(59, 59, 59);
 }

