/* NAVBAR */ 

.navbar {
    padding: 0 !important;
    height: 50px !important;
  }

  .nav.container-fluid {
    max-height: 50px !important;
    flex-wrap: unset !important;
  }

  .col-0.not-active {
    display: none;
  }

/* brand */

.brand {
  font-family: 'Comfortaa', cursive;
}

.navbar-brand {
  position: relative;
  left: 40px;
}

.navbar-brand-sidenav {
  font-size: 18px;
  position: relative;
  left: -35px;
}

/* notification bubble */ 

.notification-bubble {
  position: absolute;
  background-color: rgb(146, 166, 175);
  font-size: 10px;
  text-align: center;
  padding: 0 0;
  min-width: 15px;
  border-radius: 50%;
  top: 12px;
  right: 44px;
}

.notification-bubble.is-active {
  background-color: rgb(7, 181, 255);
}

.info-bubble {
  position: absolute;
  background: #316283;
  font-size: 12px;
  color: white;
  padding: 2px 8px;
  border-radius: 5px;
  display: none;
}

.info-bubble.logout {
  top: 52px;
  right: 75px;
}

.info-bubble.notification {
  top: 52px;
  right: 33px;
}

.info-bubble:after,
 .info-bubble:before {
  content: '';
	position: absolute;
	top: 0;
	right: 20px;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-bottom-color: #316283;
	border-top: 0;
	margin-left: -20px;
	margin-top: -7px;
  z-index:2;
}



.icon-btn:hover + .info-bubble {
  display: block;
}


/* icons */ 
  
.nav-icon {
  font-size: 22px;
}

.calendar-icon-sidenav {
  color:rgb(7, 181, 255);
}

.task-icon {
  margin: 0 6px 0 0;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 50%;
  padding: 2px;
  font-size: 18px;
  color: rgb(185, 185, 185);
  cursor: pointer;
}

.task-icon.trash:hover {
  color: red;
  border-color: red;
  background-color: rgba(255, 0, 0, 0.2);
}

.task-icon.check:hover {
  color: green;
  border-color: green;
  background-color: rgba(0, 128, 0, 0.2);
}

.task-icon.checked {
  color: green;
  border-color: rgba(0, 128, 0, 0);
  background-color: rgba(0, 128, 0, 0);
}

.sidenav-icon {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  position: relative;
  top: -2px;
  margin-right: 5px;
}

.arrow {
  position: relative;
  right: -50px;
}

.arrow:hover {
  color: #fff;
}

.arrow.rotate {
  transform: rotate(90deg);
}


/* menu burger */ 

.menu-btn {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 50px; 
    left: 30px;
  }

.menu-btn.is-active {
  left: -40px;
}

.menu-burger.is-active::before,
.menu-burger.is-active::after,
.menu-burger.is-active {
  background: rgba(255, 255, 255, 0.9);
}

.menu-burger {
    position: relative;
    width: 22px;
    height: 2px;
    top: 22px;
    left: -2px;
    background: grey;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    margin: 0 auto;
  }

  .menu-burger::before,
  .menu-burger::after {
    content: '';
    position: absolute;
    width: 22px;
    left: 0;
    height: 2px;
    background: grey;
    border-radius: 5px;
    transition: all .3s ease-in-out;
  }

  .menu-burger::before {
    transform: translateY(-7px);
  }
  
  .menu-burger::after {
    transform: translateY(7.5px);
  }
  
  /* transform menu burger to exit */
  .menu-btn.is-active .menu-burger {
    background: transparent;
  }
  
  .menu-btn.is-active .menu-burger::before {
    transform: rotate(-135deg);
  }
  
  .menu-btn.is-active .menu-burger::after {
    transform: rotate(135deg);
  }


  /* SIDENAV */ 

  .sidenav-wrap {
    padding: 0 !important;
    background-color: #316283;
    color: rgba(255, 255, 255, 0.8);
    max-width: 250px !important;
    min-width: 250px !important;
    transition: 850ms;
    display: none;
  }

  .sidenav-wrap.is-active {
    display:block;
  }

  .sidenav {
    height: 100vh;
    width: 100%;
    transition: 850ms;
    overflow: scroll;
  }



  /* categories */ 

  .sidenav-alternatives {
    padding: 30px 0 0 30px !important;
  }

  .sidenav-title {
    width: max-content;
    margin-bottom: 15px;
    font-size: 13px;
  }

  .sidenav-category.previous {
    opacity: 0.6;
  }


  /* dropdown category */ 

  .dropdown-category {
    padding: 30px 0 0 30px !important;
    transition: all 0.4 ease;
    z-index: 999;
  }

  .dropdown-category:hover {
    color: rgb(255, 255, 255);
  }
 
  .dropdown-content {
    padding: 20px 0 0 55px !important;
    display: none;
  }

  .dropdown-content.hide {
    display: block;
  }


  .nav-link-dropdown {
    position: relative;
    width: 100%;
    z-index: 99999;
    cursor: pointer;
  }


  /* tasks */ 

  .sidenav-tasks {
    margin-bottom: 30px;
    font-size: 12px;
    max-width: max-content;
    margin-right: 10px;
  }

  .sidenav-task {
    margin: 10px 0 10px 0;
    background-color: rgba(250, 250, 250, 0.9);
    color: rgb(68, 68, 68);
    position: relative;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(235, 235, 235);
    word-break: break-all;
    text-align: left;
  }

  .sidenav-task.checked {
    opacity: 0.6;
  }

  .list-group {
    margin: 0 10px 0 0;
  }
  
  .task-date {
    font-size: 10px;
    color: grey;
  }

  .task-name {
    margin: 0 6px 0 0;
  }

  .task-name.checked {
    text-decoration: line-through;
  }



